{{define "confirm_registration_s1"}}
To: {{.email_address}}
{{end}}
{{define "confirm_registration_b1"}}
HTML of body
{{end}}
{{define "confirm_registration_s2"}}
To: {{.email_address}}
{{end}}
{{define "confirm_registration_b2"}}
Text of body
{{end}}

