{{define "email_subject"}}Go-FTL Auth Demo - Password Reset {{end}}
{{define "body_html"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Go-FTL Auth Demo - Password Reset</title>
</head>
<body>
<pre>  

	Hello {{.real_name}}
 
	Click the link (or cut/paste into a browser) to reset your password:

		<a href="{{.url}}/api/session/password_reset_pt2?recovery_token={{.email_token}}">{{.url}}/api/session/password_reset_pt2?recovery_token={{.email_token}}</a>

	The page will allow you to set a new password.

	You can change the password in the tool (once you are logged in).

	You have received this email because you created an account on <a href="{{.url}}/go-ftl-auth-demo/">{{.url}}/go-ftl-auth-demo/</a>.
	All of the accounts are temporary and disappear after about an hour.  For this reason
	there is no un-subscribe capability.

	(Privacy Statement - all the data for the go-ftl-auth-demo is temporary and therefore
	can not be given out to anybody - every!)


</pre>  
</body>
</html>
{{end}}
{{define "body_text"}}
    
	Click the link (or cut/paste into a browser) to reset your passord:

		{{.url}}/api/session/password_reset_pt2?recovery_token={{.email_token}}

	The page will allow you to set a new password.

	You can change the password in the tool (once you are logged in).

	You have received this email because you created an account on <a href="{{.url}}/go-ftl-auth-demo/">{{.url}}/go-ftl-auth-demo/</a>.
	All of the accounts are temporary and disappear after about an hour.  For this reason
	there is no un-subscribe capability.

	(Privacy Statement - all the data for the go-ftl-auth-demo is temporary and therefore
	can not be given out to anybody - every!)

	form={{.from}}
    
{{end}}
{{define "mod_date"}}
	Thu May  4 08:52:53 MDT 2017
{{end}}
