{{define "mod_date"}}
	Mon May  1 16:52:49 MDT 2017
{{end}}
{{define "email_subject"}}Your password has been changed{{end}}
{{define "body_html"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Your password has been changed </title>
</head>
<body>
<pre>  
 
	Hello {{.real_name}} 

	This email is to inform you that your password has been changed.  If you chained it then just delete this 
	message.  If you didn't then please login immediately and recovery your password.

	<a href="{{.url}}/login">{{.url}}/login</a>

</pre>  
</body>
</html>
{{end}}
{{define "body_text"}}
 
	Hello {{.real_name}} 

	This email is to inform you that your password has been changed.  If you chained it then just delete this 
	message.  If you didn't then please login immediately and recovery your password.

	{{.url}}/login

{{end}}
