{{define "content_type"}}text/html; charset=utf-8{{end}}
{{define "page"}}<!DOCTYPE html>
<html lang="en">
<body>
	<ul>
	{{range $ii, $ee := .files}}
		<li><a href="{{$ee.name}}">{{$ee.name}}</a></li>
	{{end}}
	</ul>
</body>
</html>
{{end}}
