# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
end-points*

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
	
,a
.DS_Store
cfg/
tools/genDefault/genDefault
www/
x.1
,go-lint
tools/genDefault/todo.1
ts01
