{{define "subject"}}Go-FTL Auth Demo - Your password has been changed{{end}}
{{define "body_html"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Go-FTL Auth Demo - Your password has been changed </title>
</head>
<body>
<pre>  
 
	Hello:  {{.to}} 

	This is to inform you that your password for Go-FTL Auth Demo has been changed.

	You have received this email because you created an account on <a href="http://www.2c-why.com/go-ftl-auth-demo">http://www.2c-why.com/go-ftl-auth-demo</a>.
	All of the accounts are temporary and disappear after about an hour.  For this reason
	there is no un-subscribe capability.

	(Privacy Statement - all the data for the go-ftl-auth-demo is temporary and therefore
	can not be given out to anybody - every!)

</pre>  
</body>
</html>
{{end}}
{{define "body_text"}}
    
	Hello:  {{.to}} 

	This is to inform you that your password for Go-FTL Auth Demo has been changed.

	You have received this email because you created an account on http://www.2c-why.com/go-ftl-auth-demo.
	All of the accounts are temporary and disappear after about an hour.  For this reason
	there is no un-subscribe capability.

	(Privacy Statement - all the data for the go-ftl-auth-demo is temporary and therefore
	can not be given out to anybody - every!)
    
{{end}}
{{define "mod_date"}}
	Sun Nov 22 18:13:19 MST 2015
{{end}}
